# CMake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# notes
/notes
# netbeans project
/nbproject

# QT moc
*.moc_parameters
*.moc

*.so
/src/timelapse_assembly
/src/timelapse_deflicker
/src/timelapse_stabilize
